
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#field {
    width: 600px;
    height: 400px;
    background-color: green;
    position: relative;
}

.base {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

#first-base {
    bottom: 20%;
    right: 40%;
}

#second-base {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#third-base {
    top: 20%;
    left: 40%;
}

#home-base {
    bottom: 20%;
    left: 40%;
}

/* Adding pitcher's mound */
#pitchers-mound {
    width: 30px;
    height: 30px;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.player {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
}

#pitcher {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#catcher {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#first-baseman {
    bottom: 24%;
    right: 44%;
}

#second-baseman {
    bottom: 38%;
    left: 54%;
}

#shortstop {
    top: 38%;
    left: 46%;
}

#third-baseman {
    top: 24%;
    left: 44%;
}

#left-fielder {
    top: 10%;
    left: 70%;
}

#center-fielder {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#right-fielder {
    top: 10%;
    right: 70%;
}
