
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#field {
    width: 600px;
    height: 600px;
    background-color: green;
    position: relative;
}

.base {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

#first-base {
    bottom: 100px;
    left: 450px;
}

#second-base {
    bottom: 141px;
    left: 300px;
}

#third-base {
    bottom: 100px;
    left: 150px;
}

#home-base {
    bottom: 59px;
    left: 300px;
}


/* Adding pitcher's mound */
#pitchers-mound {
    width: 40px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom: 90px;
    left: 200px;
    border-radius: 50%;
}

.player {
    width: 15px;
    height: 15px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
}

#pitcher {
    bottom: 90px;
    left: 300px;
}

#catcher {
    bottom: 55px;
    left: 2300px;
}

#first-baseman {
    bottom: 110px;
    left: 420px;
}

#second-baseman {
    bottom: 145px;
    left: 315px;
}

#shortstop {
    bottom: 145px;
    left: 285px;
}

#third-baseman {
    bottom: 110px;
    left: 180px;
}

#left-fielder {
    bottom: 250px;
    left: 140px;
}

#center-fielder {
    bottom: 265px;
    left: 300px;
}

#right-fielder {
    bottom: 250px;
    left: 460px;
}


